/* Code utile pour traiter le texte */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

@font-face {
  font-family: "font-1";
  src: url(./assets/NotoSansDisplay-Light.ttf);
}

body {
  font-family: "font-1", sans-sérif;
  background: url(./assets/sunrise.jpg) no-repeat fixed right/cover;

  /* 500vh ->5 fois la taille de l'écran de l'utilisateur */
  /* 100vh ->100% de l'écran de l'utilisateur */
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  /* 1rem ->16px */
  color: firebrick;
  text-shadow: 4px -1px 0 darkgrey;
  text-align: center;
  font-family: "Playfair Display", serif;
}

main {
  background: rgba(245, 245, 245, 0.841);
  width: 90%;
  min-height: 500px;
  /* margin -> marge extérieur */
  margin: 10px auto;
  /* padding -> marge intérieur */
  padding: 15px;
  border-radius: 15px;
  box-shadow: -1px -4px 0 rgb(170 134 194);
}

.positionning,
.flexbox,
.grid {
  border: 2px solid skyblue;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
/* *********************POSITIONNING******************* */
.positionning {
  position: relative;
}

h2 {
  margin: 0;
}

#circle {
  height: 60px;
  width: 60px;
  background: sandybrown;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 110px;
  box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.13);
  z-index: 1;
}

#rectangle {
  height: 15px;
  width: 100px;
  background: slateblue;
  padding: 20px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

/* *******************FLEXBOX******************* */
ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 0.7rem;
  height: 160px;
  width: 160px;
  background: rgba(139, 0, 139, 0.614);
  /* centrer verticalement */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
**************GRID************ */
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}
input,
textarea {
  margin: 5px;
  height: 45px;
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: "font-1";
}

#firstname {
  grid-area: i1;
}
#surname {
  grid-area: i2;
}
textarea {
  grid-area: ta;
  resize: none;
}
input[type="submit"] {
  grid-area: bt;
  cursor: pointer;
  background: cyan;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: darkblue;
  color: white;
}

/* *******************RESPONSIVE****************** */
@media screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }
  .img {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1 "
      "i2"
      "ta"
      "bt";
  }
}
